.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex: 1 100%;
    align-items: center;
    justify-content: space-between;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 50 430 100' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23FFFFFF;' /%3E%3Cdefs%3E%3ClinearGradient id='gradient'%3E%3Cstop offset='5%25' stop-color='%238F34A4' /%3E%3Cstop offset='80%25' stop-color='%23A53493' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23gradient)' d='M0,100 C150,115 350,80 500,100 L500,00 L0,0 Z' style='stroke: none'%3E%3C/path%3E%3C/svg%3E");
}

.logoInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 0 24px 0;
}

.imagenLogo {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.textoLogo {
    text-align: center;
    color: white;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info h2 {
    margin-top: 0px;
    color: white;
}

.info h3 {
    margin-top: 0px;
    color: white;
}

.illustracion {
    margin-bottom: 10%;
}
.illustracionLogo {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}